.prv{
  width: 100%;
  background-color: #648DAC;
  
}
.vtor{
	width: 100%;
	margin-top: 24%;
	height: 15%;
}
.buttons{
	display: inline;   
	color: white;
    text-align: center;
    padding: 14px 16px;
    margin: 10;
    padding:10;

}
.lista{
	list-style-type: none;
    margin: 10px;
    padding: 10px;
    float: right;
    width: 50%;


}
.logo{
	
    top:10px; 
    left:10px;
    width:40px;
    height: auto;
    margin-left: 150px;
   
}
.slikaPrva{
    float: right;
    width:  35%;
    height: 15%;
    margin-right: 36%;
    margin-top:  4px;
}
.body{
	background-color: #648DAC;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
   
}
.box1{
	width: 25%;
    height: auto;
    display: inline-block;
    background-color: #DBDBDB;
    position: relative;
    padding-bottom: 250px;
    float: left;


}
.box2{
    float:left;
    width: 25%;
    height: auto;
    display: inline-block;
    background-color: #BDB9AB;
    position: relative;
    padding-bottom: 250px;
}
.box3{
    width: 25%;
    height: auto;
    display: inline-block;
    background-color: #9CE0D2;
    position: relative;
    padding-bottom: 250px;

}
.box4{
    float: right;
    width: 25%;
    height: auto;
    display: inline-block;
    background-color: #9FAFC1;
    position: relative;
    padding-bottom: 250px;
}

.textblok{
	text-align: center;
	color: black;
    position: absolute;
    top: 180px;
    right: 30px;
    left: 40px;

    
  
} 
.ipad{
    width: 100%;
    
}
.slikatablet{
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    position: absolute;
    top: 90px;
    right:50px;
    bottom: 30px;
    left: 50px;

}
.iPadtekst{
    float: right;
    width: 50%;
   display: inline-block;
   background-color: #9FAEC1;
   
   position: relative;
   height: 400px;
   margin-top: -4px;

}
.iPadslika{
    float: left;
    width: 50%;
    height: 400px;
    display: inline-block;
    background-color: #BFD6DF;
    
    position: relative;
    margin-top: -4px;

}
.iPadpara{
    color: white;
    text-align: justify;
    letter-spacing: 2px;
    position: absolute;
    padding: 0px 35px 15px 35px;



}
.iPhonetekst{
    float: left;
    width: 50%;
   display: inline-block;
   background-color: #BDB9AB;
   
   position: relative;
   height: 350px;

}
.iPhonepara{
    color: white;
    text-align: justify;
    letter-spacing: 2px;
    position: absolute;
   padding: 0px 35px 15px 35px;



}
.iPhoneslika{
    float: right;
    width: 50%;
    height: 350px;
    display: inline-block;
    background-color: #BFD6DF;
    
    position: relative;
}
.slikaiphone{
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    position: absolute;
    top: 90px;
    right:50px;
    bottom: 30px;
    left: 50px;

}
.slikamacbook{
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    position: absolute;
    top: 90px;
    right:50px;
    bottom: 30px;
    left: 50px;

}
.macbooktekst{
    float: right;
    width: 50%;
   display: inline-block;
   background-color: #FAA58A;
   
   position: relative;
   height: 400px;


}
.macbookslika{
    float: left;
    width: 50%;
    height: 400px;
    display: inline-block;
    background-color: #BFD6DF;
    
    position: relative;
}
.macbookpara{
    color: white;
    text-align: justify;
    letter-spacing: 2px;
    position: absolute;
    padding: 0px 35px 15px 35px;
}
.predp{
    width: 100%;

    
  }
.team{
    display: inline-block;
    width: 33.3%;
    height: 200px;
    
    background-color: #9FAEC1;
}
.salary{
    display: inline-block;
    width: 33.3%;
    height: 200px;
    float: right;
    background-color: #BDB9AB;
}
.earnings{
    display: inline-block;
    width: 33.3%;
    height: 200px;
    float: right;
    background-color: #9CE0D2;
}
a .buttons:hover{
    color: #B2C1C2;
}
.footer {
    width: 100%;
    height: 100px;
    background-color: #5C829F;
    text-align: center;
    padding-top: 60px;
    border-bottom: 2px solid #90CFC2;

}
.footer ul {
    list-style: none;
}
.footer ul li {
    display: inline;
    margin: 40px 50px 0 50px;
}
.footer ul li i{
    color: #B1C6CE;
    font-size: 30px;
}
.footer ul li a {
    text-decoration: none;
}
.copy {
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: #514353;
    padding-top: 15px;
}
.copy p {
    margin-top: 0px;
    color: white;
} 